<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title> Cup of Cake </title>
</head>
<body>
    <h1 class="text" id="name"> Cup of Cake! </h1>
    <a class="order_home_button" href="{{ url_for('home')}}"> Home </a>


<div class ="all_cupcakes_container">    
    {% for cupcake in cupcakes %}

<div class="cupcake_container">
    
    <a class="cupcake_name" href="{{ url_for('individual_cupcake', name=cupcake['name']) }}">
        <h3> {{ cupcake["name"] }} </h3>
    </a>
    <h4> Flavor: {{ cupcake["flavor"] }} </h4>
    <h4> Frosting: {{ cupcake["frosting"] }} </h4>
    <h4> <b> Price: {{ cupcake["price"] }} </b> </h4>

</div>

    {% endfor %}
</div>

</body>
</html>